.impression__names {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 19px 0 19px 74px;
  text-transform: none;
  font-family: "PT Sans-Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;

  &::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 5px;
    left: 0;
    width: 46px;
    height: 46px;
    background: $grey-light;
    border-radius: 50%;
  }
}

.impression__radio:checked + .impression__names::after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-color: $dark;
  border-radius: 50%;
}
