.picture {
  width: 280px;
}

.picture__photo {
  display: block;
  margin: 0 auto;
  text-align: left;
}

.picture__title {
  margin: 0;
  padding: 14px 0 0;
  font-family: "PT Sans-Bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: $black;
}

.picture__author {
  margin: 0;
  text-transform: none;
  line-height: 24px;
}

.picture__likes {
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 4px 0 7px;
  font-family: "PT Sans-Bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.picture__icon-like {
  fill: $grey;
  width: 23px;
  height: 21px;
  margin-right: 13px;
}
