.social__list {
  display: flex;
  margin: 0 auto 20px;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  width: 160px;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  background: $color-light;
}

.social__link-image {
  padding-top: 7px;
  fill: $white;
}
