.button {
  display: block;
  margin: 0;
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  border: none;
  background: $color-light;

  color: $white;
  text-align: center;

  &:hover {
    background-color: $color-middle;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $color-dark;
  }
}
